In [91]:
import pandas as pd
import numpy as np

In [92]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [94]:
chipo = pd.read_csv(url, sep = '\t')

In [97]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [99]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [101]:
chipo.shape[0]

4622

In [105]:
chipo.shape[1]

5

In [107]:
chipo.shape

(4622, 5)

In [109]:
len(chipo.columns)

5

In [111]:
len(chipo.index)

4622

In [113]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [115]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [117]:
chipo.head(12)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75

In [120]:
chipo.sort_values(by="item_price", ascending=False)

,order_id,quantity,item_name,choice_description,item_price
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
3098,1235,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.39
4241,1693,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
1418,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
4391,1752,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",$9.39
4572,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39
607,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$9.39
4390,1751,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.39
1865,756,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$9.39
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
3356,1346,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.39
1789,724,1,Carnitas Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",$9.25
1771,715,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Lettuce, Black Bea...",$9.25
418,182,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
1812,733,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Let...",$9.25
763,315,1,Barbacoa Crispy Tacos,"[Fresh Tomato Salsa, [Sour Cream, Lettuce]]",$9.25
3486,1401,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$9.25
3565,1431,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
2467,979,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$9.25
3564,1431,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$9.25
3549,1426,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
3535,1421,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$9.25
3563,1431,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
405,176,1,Carnitas Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$9.25
...,...,...,...,...,...
1805,730,1,Canned Soda,[Sprite],$1.09
1290,525,1,Canned Soda,[Sprite],$1.09
2410,955,1,Bottled Water,NaN,$1.09
3020,1201,1,Canned Soda,[Diet Dr. Pepper],$1.09
3021,1201,1,Bottled Water,NaN,$1.09
180,81,1,Canned Soda,[Dr. Pepper],$1.09
280,122,1,Canned Soda,[Coca Cola],$1.09
3499,1405,1,Bottled Water,NaN,$1.09
2443,971,1,Canned Soda,[Coca Cola],$1.09
3042,1210,1,Bottled Water,NaN,$1.09
3498,1405,1,Canned Soda,[Diet Dr. Pepper],$1.09
779,321,1,Canned Soda,[Diet Coke],$1.09
28,14,1,Canned Soda,[Dr. Pepper],$1.09
780,321,1,Bottled Water,NaN,$1.09
3062,1220,1,Canned Soda,[Dr. Pepper],$1.09
195,87,1,Canned Soda,[Coca Cola],$1.09
4051,1621,1,Canned Soda,[Sprite],$1.09
34,17,1,Bottled Water,NaN,$1.09
807,332,1,Canned Soda,[Mountain Dew],$1.09
958,393,1,Canned Soda,[Sprite],$1.09
200,89,1,Canned Soda,[Diet Coke],$1.09
3477,1396,1,Canned Soda,[Dr. Pepper],$1.09
3476,1396,1,Canned Soda,[Coca Cola],$1.09
956,392,1,Canned Soda,[Coca Cola],$1.09
4069,1629,1,Bottled Water,NaN,$1.09
3145,1254,1,Canned Soda,[Diet Dr. Pepper],$1.09
414,180,1,Canned Soda,[Dr. Pepper],$1.09
3162,1262,1,Canned Soda,[Coca Cola],$1.09
821,338,1,Canned Soda,[Coca Cola],$1.09
1457,591,1,Canned Soda,[Sprite],$1.09

In [123]:
c= chipo.groupby("item_name")
c = c.sum()
c = c.sort_values(["quantity"], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [125]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [127]:
orderdNum = chipo.groupby("quantity")

In [129]:
orderdNum = orderdNum.sum()

In [131]:
orderdNum

order_id    4285772
dtype: int64

In [133]:
chipo.head(15)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45

In [137]:
c= chipo.groupby("choice_description")
c = c.sum()
c

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
[Apple]                                                 3966         6
[Blackberry]                                            5220         8
[Braised Barbacoa, Pinto Beans, [Sour Cream, Sa...       217         1
[Braised Barbacoa, Vegetarian Black Beans, [Sou...       214         1
[Braised Carnitas, Pinto Beans, [Sour Cream, Ch...       193         3
[Brown Rice, Adobo-Marinated and Grilled Chicke...       575         1
[Brown Rice]                                            1793         1
[Clementine]                                            4777         8
[Coca Cola]                                            19282        32
[Coke]                                                122752       143
[Diet Coke]                                           123455       159
[Diet Dr. Pepper]                                      10405        14
[Dr. Pepper]                                           13223        21
[Fresh Tomato (Mild), [Black Beans, Guacamole, ...      1252         1
[Fresh Tomato (Mild), [Black Beans, Rice, Sour ...      3128         2
[Fresh Tomato (Mild), [Guacamole, Lettuce, Pint...       868         2
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice...       453         1
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice...       204         1
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice...       527         1
[Fresh Tomato (Mild), [Guacamole, Rice, Black B...       666         1
[Fresh Tomato (Mild), [Guacamole, Rice, Fajita ...       479         1
[Fresh Tomato (Mild), [Guacamole, Rice, Sour Cr...      1415         1
[Fresh Tomato (Mild), [Guacamole, Rice]]                1160         1
[Fresh Tomato (Mild), [Guacamole, Sour Cream, C...      1041         2
[Fresh Tomato (Mild), [Lettuce, Black Beans, Gu...      1146         1
...                                                      ...       ...
[[Tomatillo-Green Chili Salsa (Medium), Roasted...      8150         6
[[Tomatillo-Green Chili Salsa (Medium), Roasted...       538         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...      1607         2
[[Tomatillo-Green Chili Salsa (Medium), Roasted...       202         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...       439         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...       424         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...      1025         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...      1284         2
[[Tomatillo-Green Chili Salsa (Medium), Roasted...        14         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...       871         1
[[Tomatillo-Green Chili Salsa (Medium), Roasted...       992         2
[[Tomatillo-Green Chili Salsa (Medium), Roasted...      2129         2
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...       667         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...       435         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...       513         2
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...        12         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...      1470         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatil...      1002         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...       108         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...       988         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...        76         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...      1338         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...       579         1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato...      1010         1
[[Tomatillo-Red Chili Salsa (Hot), Roasted Chil...       186         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

In [139]:
c= chipo.groupby("quantity")
c = c.sum()

In [141]:
c

          order_id
quantity
1          4032682
2           205258
3            29105
4            11652
5              970
7             1443
8             1559
10            1660
15            1443

In [143]:
total = chipo.quantity.sum()

In [144]:
total

4972

In [149]:
total_price = chipo.item_price

In [151]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [152]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [154]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39

In [157]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

In [158]:
print("Revenue was : $" + str(np.round(revenue,2)))

Revenue was : $39237.02