In [13]:
import pandas as pd

In [14]:
war = pd.read_csv("War.csv")

In [17]:
war.head(100)

,Name,Time,Casualties
0,World War II,1939–1945,"40,000,000–85,000,000"
1,Mongol conquests,1206–1324,"40,000,000–70,000,000"
2,Taiping Rebellion,1850–1864,"20,000,000–100,000,000"
3,Three Kingdoms War,184–280,"36,000,000–40,000,000"
4,Conquest of the Americas,1492–1691,"8,400,000–137,750,000"
5,Second Sino-Japanese War,1937–1945,25000000
6,Qing dynasty conquest of Ming Dynasty,1616–1662,25000000
7,Spanish conquest of Mexico,1519–1632,24300000
8,An Lushan Rebellion,755–763,"13,000,000–36,000,000"
9,World War I,1914–1918,20000000
10,Dungan Revolt,1862–1877,"8,000,000–20,770,000"
11,Conquests of,1370–1405,"8,000,000–20,000,000"
12,Spanish conquest of Peru,1533–1620,8400000
13,Chinese Civil War,1927–1949,8000000
14,Reconquista,711–1492,7000000
15,Russian Civil War and Foreign Intervention,1917–1922,"5,000,000–9,000,000"
16,Thirty Years' War,1618–1648,"3,000,000–11,500,000"
17,Napoleonic Wars,1803–1815,"3,500,000–6,000,000"
18,Second Congo War,1998–2003,"2,500,000–5,400,000"
19,French Wars of Religion,1562–1598,"2,000,000–4,000,000"
20,Shaka,1816–1828,2000000
21,Vietnam War,1955–1975,"800,000–3,800,000"
22,Biafra War,1967–1970,"1,000,000-3,000,000"
23,Spanish conquest of Yucatán,1519–1595,1460000
24,Mexican Revolution,1910–1920,"1,000,000–2,000,000"
25,War in Afghanistan,1978-present,"1,240,000–2,000,000"
26,War on Terror,2001–present,"272,000–2,000,000"
27,Soviet war in Afghanistan,1979–1989,"957,865–1,622,865"
28,Korean War,1950–1953,1200000
29,Seven Years' War,1756–1763,"868,000–1,400,000"
...,...,...,...
70,War in Darfur,2003-present,"178,258–461,520"
71,Iraq War/Third Persian Gulf War,2003-2011,"176,913–1,120,000"
72,Winter War,1939-1940,"153,736-194,837"
73,West Papua conflict,NaN,"150,000-400,000"
74,Iraqi Kurdish conflict,1918-2003,"138,800–320,100"
75,Internal conflict in Myanmar,1948-present,"130,000–250,000"
76,Thousand Days' War,1899-1902,120000
77,Great Turkish War,1683-1699,"120,000–384,000"
78,Lebanese Civil War,1975-1990,"120,000–150,000"
79,Islamic insurgency in the Philippines,1969-present,120000
80,Arab Israeli conflict,1920-present,116074
81,Mexican Drug War,2006-present,106800
82,LRA insurgency,1987-present,"100,000–500,000"
83,North Yemen Civil War,1962-1970,"100,000–200,000"
84,Indian Rebellion of 1857,1857,"100,000–10,000,000"
85,Ugandan Bush War,1981-1986,"100,000–500,000"
86,Lord's Resistance Army insurgency,1987-present,100000
87,Insurgency in Laos,1975-2007,100000
88,German Peasants' War,1524-1525,100000
89,Congo Crisis,1960-1965,100000
90,Aceh War,1873-1914,"97,000–107,000"
91,Bosnian War,1991-1995,"97,214–104,732"
92,Arab Israeli conflict,1948-present,93050
93,Mahdist War,1881-1889,90969
94,Third conflict in the Goryeo Khitan War,1018-1019,90000
95,Rif War,1916-1927,90000
96,1991 uprisings in Iraq,1991,"85,000–235,000"
97,Burmese Siamese War,1785-86,85000
98,Angolan War of Independence,1961-1974,"82,991-102,991"
99,Kashmir Conflict,1947-to-present,"80,000–110,000,"

In [16]:
war.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 3 columns):
Name          216 non-null object
Time          213 non-null object
Casualties    216 non-null object
dtypes: object(3)
memory usage: 5.1+ KB

In [19]:
war.sort_values(by = "Casualties",ascending=False)

,Name,Time,Casualties
91,Bosnian War,1991-1995,"97,214–104,732"
90,Aceh War,1873-1914,"97,000–107,000"
27,Soviet war in Afghanistan,1979–1989,"957,865–1,622,865"
208,2013 Guinea clashes,2013,95
144,Libyan Civil War,2011,9400
92,Arab Israeli conflict,1948-present,93050
93,Mahdist War,1881-1889,90969
185,Falklands War,1982,907
34,War of the Spanish Succession,1701-1714,900000
95,Rif War,1916-1927,90000
94,Third conflict in the Goryeo Khitan War,1018-1019,90000
33,American Civil War,1861-1865,"880,000–1,000,000"
35,English Civil War,1642-1651,876000
36,Conquests of Mehmed II 'the Conqueror',1451-1481,873000
29,Seven Years' War,1756–1763,"868,000–1,400,000"
97,Burmese Siamese War,1785-86,85000
96,1991 uprisings in Iraq,1991,"85,000–235,000"
209,Lahad Datu standoff,2013,84–134
186,2011 Egyptian revolution,2011,846
12,Spanish conquest of Peru,1533–1620,8400000
187,Syrian Civil War spillover in Lebanon,2011-Present,820
98,Angolan War of Independence,1961-1974,"82,991-102,991"
211,North West Rebellion,1885,82
210,Quasi War,1798-1800,82
145,Iraqi insurgency,post-U.S.-withdrawal,8136
188,Sino Russian border conflicts,1652-1689,808
189,"Conflict in Najran, Jizan and Asir",2015-present,803-1303
13,Chinese Civil War,1927–1949,8000000
21,Vietnam War,1955–1975,"800,000–3,800,000"
99,Kashmir Conflict,1947-to-present,"80,000–110,000,"
...,...,...,...
77,Great Turkish War,1683-1699,"120,000–384,000"
78,Lebanese Civil War,1975-1990,"120,000–150,000"
80,Arab Israeli conflict,1920-present,116074
181,"Political violence in Egypt, 2013",2013-present,1119
139,Irish Rebellion of 1798,1798,"11,500-53,000"
81,Mexican Drug War,2006-present,106800
31,Japanese invasions of Korea,1592–1598,1000000
32,French Revolutionary Wars,1792–1802,1000000
30,Iran–Iraq War,1980–1988,1000000
89,Congo Crisis,1960-1965,100000
86,Lord's Resistance Army insurgency,1987-present,100000
87,Insurgency in Laos,1975-2007,100000
88,German Peasants' War,1524-1525,100000
142,War in Donbass,2014-present,10000
143,Rwandan Civil War,1990-1993,10000
141,Malayan Emergency,1948-1960,10000
183,Djiboutian Civil War,1991-1994,1000
184,1991 92 South Ossetia War,1991-1992,1000
82,LRA insurgency,1987-present,"100,000–500,000"
85,Ugandan Bush War,1981-1986,"100,000–500,000"
83,North Yemen Civil War,1962-1970,"100,000–200,000"
84,Indian Rebellion of 1857,1857,"100,000–10,000,000"
207,2016 Kasese clashes,2016,100
140,1948 Palestine war,1947-1949,"10,523-21,523"
175,War of Transnistria,1992,"1,643–2,237"
25,War in Afghanistan,1978-present,"1,240,000–2,000,000"
180,Kargil War,1999,"1,227–5,600"
182,Cabinda conflict,1994-present,"1,000–1,500"
24,Mexican Revolution,1910–1920,"1,000,000–2,000,000"
22,Biafra War,1967–1970,"1,000,000-3,000,000"